.switch-bg {
    background: rgb(111,207,202);
    background: -moz-linear-gradient(top, rgba(111,207,202,1) 0%, rgba(55,168,163,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,207,202,1)), color-stop(100%,rgba(55,168,163,1)));
    background: -webkit-linear-gradient(top, rgba(111,207,202,1) 0%,rgba(55,168,163,1) 100%);
    background: -o-linear-gradient(top, rgba(111,207,202,1) 0%,rgba(55,168,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(111,207,202,1) 0%,rgba(55,168,163,1) 100%);
    background: linear-gradient(to bottom, rgba(111,207,202,1) 0%,rgba(55,168,163,1) 100%);
}
#switcher-form {
    position: absolute;
    border: 1px #ddd solid;
    margin: 0;
    z-index: 999;
    left:0;
    padding: 1px 0;
    cursor: pointer;
    height: 30px;
    width: 120px;
    text-indent: 0;
}
#switcher-form select,
#wpadminbar #switcher-form select {
    position: relative;
    font-size: 14px;
    padding: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: table;
    vertical-align: middle;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    transition: width 0.4s ease;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    margin: 0 0 0 110px;
    cursor: pointer;
    border:0;
    outline: none;
}
#switcher-form option {
    padding: 3px 15px;
    border-bottom: 1px #ddd solid;
}
#switcher-form .switch-icon {
    position: absolute;
    left:0;
    height: 100%;
    padding-left: 30px;
    padding-right:5px;
    color: #333;
    line-height: 28px;
    background: url(arrow_switch_right.png) no-repeat left center;
}
#switcher-form.switch-fixed {
    position: fixed;
    left:0;
    bottom:0;
}
#switcher-form.switch-fixed select {
    margin-left: 115px;
}
#switcher-form.switch-admin {
    border: 0;
}